<style>
  body {
    margin: 0px;
  }

  #root {
    display: grid;
    place-content: center;
    background: white;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
</style>

<div id="root">
  <canvas width="300px" height="300px"></canvas>
</div>

<script type="module">
  function resize() {
    const container = document.querySelector("#root");
    const c = document.querySelector("canvas");
    c.width = container.clientWidth;
    c.height = container.clientHeight;
  }

  resize();

  const canvas = document.querySelector("canvas");
  const ctx = canvas.getContext("2d");
  const w = canvas.width;
  const h = canvas.height;

	
  {

    let n = 1;
    function drawBi() {
      ctx.fillStyle = "black";
      ctx.fillRect(0, 0, w, h);
      ctx.fillStyle = "white";
      for (let i = 0; i < n; i += 2) {
        const rectw = h/n;
        ctx.fillRect(0, rectw*i, w, h/n)
      }

      if (n >= 128) n = 1;
      else n *= 2;
    }


    // setInterval(drawBi, 2000);

  }

  {

    let n = 0;
    function drawLine() {
      ctx.fillStyle = "black";
      ctx.fillRect(0, 0, w, h);
      ctx.fillStyle = "white";
      ctx.fillRect(0, n, w, 30)

      n++;
    }


    setInterval(drawLine, 1000/60);

  }

  
</script>